<div class="digg-pagination">
  <%= will_paginate @users, page_links: false %>
</div>
<div class="row-fluid">
  <% if @users.empty? %>
    We're brand new! We don't have any matches for you yet, but check back in a few days.
  <% end %>
  <table class="table">
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.description %></td>
        <td>
          <% if user.can_be_messaged_by current_user %>
            <i class="icon-envelope icon-white"></i>
            <%= link_to "Message #{user.username}", new_conversation_path(user: user) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>